* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none !important;
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    padding: 0px 20px;
    position: sticky !important;
    top: 0px;
    left: 0px;
    z-index: 999999999999999999999;

}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 80px !important;
}


.navbar-brand {
    width: 30% !important;
}

nav img {
    width: 40%;
}

.nav-item {
    font-size: 25px;
    font-weight: 500;
}

.nav-item a {
    color: rgb(138, 133, 133) !important;
    background-color: rgba(255, 255, 255, 0.137);

}

.nav-item a:hover {
    color: rgb(10, 73, 128) !important;
    border-bottom: solid blue 2px;
    transition: .8s;
}

.nav-item-a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(10, 73, 128) !important;
}

.dropdown-menu a {
    font-size: 20px !important;
    DISPLAY: block;
    text-align: right;
}

.nerd-nav {
    gap: 70px !important;
}

.bordr {
    border: solid white 2px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    min-width: 100%;
}

.cont h1 {
    background-color: #4d4d4d;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/.1;
    color: white;
}

.conta h1 {
    background-color: #3bb3a6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/.1;
    color: white;


}

.contan h1 {
    background-color: #005dab;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1/.1;
    color: white;
}

.cont,
.conta,
.contan {
    display: flex;
    gap: 30px;
    justify-content: center;
    /* align-items: center; */
    margin: 20px auto;
    text-align: right;

}

.cont .card-img-top {
    background-color: #4d4d4d !important;
    width: fit-content;
}

.conta .card-img-top {
    background-color: #3bb3a6 !important;
    width: fit-content;
}

.contan .card-img-top {
    background-color: #005dab !important;
    width: fit-content;
}

.cobchn {
    width: 40%;
}

.cobchn p {
    font-size: 20px;
}

.cobchn h2 {
    color: #3BB3A6;
}

.cont a {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 0%;
    background-color: #3bb3a6;
    font-size: 25px;
    border: none !important;
}

.conta a {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 0%;
    background-color: #f57c00 !important;
    font-size: 25px;
    border: none !important;
}

.contan a {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 0%;
    background-color: #f57c00 !important;
    font-size: 25px;
    border: none !important;
}

/* 
.cont,
.conta,
.contan  a:hover {
    background-color: #f57c00;
} */

.card-body {
    padding: 0px !important;
}














footer {
    padding-top: 10px;
    background-color: #8ed1fc;
    border-top: solid 1px white;
}

footer img {
    width: 30%;
}

footer .con-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.con-foot img {
    width: 20% !important;
    margin: 20px;
}

footer .con-foot {
    padding: 0px 4%;
}

footer .con-foot div {
    width: 20%;
    text-align: center;
}

footer .con-foot div a {
    font-size: 20px;
    display: block;
    color: white;
    /* margin: 10px; */
    text-transform: capitalize;
}

footer .con-foot div p {
    color: white;
    text-transform: capitalize;
}

footer .con-foot div a:hover {
    color: #000000;
}

footer .con-foot div a img {
    border-radius: 50%;
    width: 20px;
    margin-left: 10px;
}

footer .con-icon {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: 30px;
}

footer .con-icon a {
    margin-right: 10px;
    font-size: 25px;
    color: white;
}

.end-four h1 {
    margin: 20px;
    color: #005dab;
    font-size: 40px !important;
}


.end-five .button {
    margin-top: 20px;
    margin-left: 30%;
    width: 50%;
}